<% provide(:title, "Subscribe") %>
<h1>Subscribe</h1>
<p>Please fill in this form to subscribe.</p>
<hr>

<div class="container">
  <%= form_for(@follower) do |f| %>
    <%= render 'shared/error_messages' %>
    
    <%= f.label       :name %>
    <%= f.text_field  :name %>
    
    <%= f.label       :email %>
    <%= f.email_field :email %>
    
    <%= f.submit "Subscribe" %>
  <% end %>  
</div>


