<% provide(:title, "Edit Post") %>
<h1>Edit Post</h1>
<h5>Edit your post below.</h5>

<div class="container">
  <%= form_for(@post) do |f| %>
    <%= render 'shared/error_messages', object: f.object %>
    <%= f.label       :title %><br>
    <%= f.text_field  :title %><br>
 
    <%= f.label       :content %><br>
    <%= f.text_area   :content, cols: 40, rows: 15 %><br>

    <%= f.submit "Post" %>
  <% end %>  
